body {
  padding: 5%;
  background-color: rgb(125, 161, 163);
}
a {
  color: white;
  text-decoration: none;
}
.container {
  display: grid;
  grid-gap: 50px;
  background-color: rgb(168, 181, 192);
  height: 100%;
}

.header {
  display: grid;
  justify-items: center;
}
.titel {
  font-size: 30px;
  color: #3da540;
  font-weight: bold;
}

.Blogs {
  display: grid;
  text-align: center;
  border-style: solid;
  margin: 5% 5% 5%;
  margin-bottom: 0%;
  background-color: #66dbb4;
  border-color: aqua;
  font-family: "Courier New", Courier, monospace;
}
.Blogs button {
  background-color: #3da540; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  width: 100%;
  font-size: 16px;
}
.search {
  display: grid;
  grid-template-columns: 140px 20px;
}
.search button {
  background-image: url(/icon/search.png);
  border: none;
}

section {
  display: grid;
}

.Blogs h1 {
  color: rgb(86, 118, 165);
}
.Blogs time {
  display: grid;
  justify-content: start;
}
hr {
  border-top: 4px solid rgb(65, 153, 194);
}
footer {
  display: grid;
  background-color: #121812;
  width: 100%;
  margin-top: 5%;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
